@using System.Diagnostics;

@{
    ViewData["Title"] = "Головна";
}

<div class="text-center">
    <h1>Завдання до лабораторної роботи. Варіант 9.</h1>
    <br />
    <div style="font-size: large">
        <div>
            Файл «Завод» має наступну структуру: код працівника, прізвище, стать, номер цеху, посада, стаж, оклад.
        </div>
        <div>
            Файл «Премія» має наступну структуру: код, премія.
        </div>
        <br />
        <div>
            a) Вивести кількість посад працівниць, які мають премію.
        </div>
        <div>
            b) Для кожного цеху вивести максимальну зарплату (оклад + сумарна премія) його працівників,
            стаж яких потрапляє у межі від 10 до 20.
        </div>
    </div>
</div>
