@model lab3Original.Models.Output

@{
    ViewBag.Title = "Завдання 1";
    Layout = "_Layout";
}

<div style="display: flex; justify-content: center">
    <div style="margin-right: 50px">
        Кількість посад працівниць, які мають премію:
        @Model.task1res.ToString()
    </div>


</div>